body {
   background-color: rgb(140, 100, 141);
   color: white;
}

main{
  /* align-items: center; */
  max-width: 600px;
  margin: 150px auto;
}

form {
  border: 3px solid rgb(82, 38, 83);
  border-radius: 10px;
  padding: 5px;
  display: flex;
}

form input[type="text"]{
  background: none;
  border: 0;
  padding: 10px 20px;
  display: block;
  width: 100%;
  color: white;
}

form button {
  background-color: rgb(82, 38, 83); 
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  color: white;
}


div.task{
  background-color: rgb(82, 38, 83);
  border-radius: 5px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
}

div.task svg {
  height: 25px;
  margin-right: 5px;
}